<!DOCTYPE html>
<html lang="en">
<head>
<title>Class List: Create</title>
<meta charset="utf-8" />
</head>
<body>
<form action="./api/create" method="post">
<div> <label for="studentName">Enter The Student's Name:</label><br>
<input type="text" id="studentName" name="student" placeholder="name"><br><br>
<input type="text" id="studentNumber" placeholder="student Number"><br><br>
<input type="text" id="studentCourse" placeholder="Course"> <br><br>
</div>
<div class="button">
<button type="submit">Add</button>
</div>
</form>
</body>
</html>