<!DOCTYPE html>
<html lang="en">
<head>
<title>Class List: Delete</title>
<meta charset="utf-8" />
</head>
<body>
<form action="/api/edit" method="post">
<div> <label for="studentName">Enter The Student's Name:</label>
<input type="text" id="studentNameEdit" name="student"> <br>
<input type="text" id="studentNameReplace">
<input type="text" id="studentNumberReplace">
<input type="text" id="studentCourseReplace">
</div>
<div class="button">
<button type="submit">Edit</button>
</div>
</form>
</body>
</html>